@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Noto Sans JP', sans-serif;
  --color-orca-50: #e0e8f3; /* text */
  --color-orca-100: #bccee6;
  --color-orca-200: #98b5d9; /* tertiary */
  --color-orca-300: #6b86a7;
  --color-orca-400: #415a77; /* secondary */
  --color-orca-500: #344862;
  --color-orca-600: #28364e;
  --color-orca-700: #1b263b; /* primary-sub */
  --color-orca-800: #162235;
  --color-orca-900: #111f30;
  --color-orca-950: #0d1b2a; /* primary */

  --color-secondary-50: #dee1e7;
  --color-secondary-100: #bdc5d0;
  --color-secondary-200: #9ea9b9;
  --color-secondary-300: #7e8da2;
  --color-secondary-400: #60738c;
  --color-secondary-500: #415A77; /* secondary */
  --color-secondary-600: #324b67;
  --color-secondary-700: #223d58;
  --color-secondary-800: #122f49;
  --color-secondary-900: #00223b;
  --color-secondary-950: #00162d;

  --color-tertiary-50: #eef2f9;
  --color-tertiary-100: #dde6f2;
  --color-tertiary-200: #ccd9ec;
  --color-tertiary-300: #bbcde6;
  --color-tertiary-400: #aac1df;
  --color-tertiary-500: #98B5D9; /* tartiary */
  --color-tertiary-600: #7895b7;
  --color-tertiary-700: #587697;
  --color-tertiary-800: #3a5877;
  --color-tertiary-900: #1a3c59;
  --color-tertiary-950: #00223d;

  --color-text-50: #f7f9fc;
  --color-text-100: #f0f3f9;
  --color-text-200: #e8eef6;
  --color-text-300: #E0E8F3; /* text */
  --color-text-400: #c0c8d2;
  --color-text-500: #a1a9b3;
  --color-text-600: #838a94;
  --color-text-700: #666d77;
  --color-text-800: #4b525b;
  --color-text-900: #313740;
  --color-text-950: #181f27;

  --color-success-50: #e2eae5;
  --color-success-100: #c5d6cc;
  --color-success-200: #a9c2b3;
  --color-success-300: #8dae9b;
  --color-success-400: #719a84;
  --color-success-500: #56876D; /* success */
  --color-success-600: #456d58;
  --color-success-700: #365344;
  --color-success-800: #263c30;
  --color-success-900: #18251E;
  --color-success-950: #081810;

  --color-warn-50: #f3eedf;
  --color-warn-100: #e7dcc0;
  --color-warn-200: #dacca1;
  --color-warn-300: #ccbb83;
  --color-warn-400: #beab64;
  --color-warn-500: #AF9B46; /* warn */
  --color-warn-600: #94843b;
  --color-warn-700: #7a6d31;
  --color-warn-800: #615727;
  --color-warn-900: #49421D;
  --color-warn-950: #2a2400;

  --color-error-50: #fbdddb;
  --color-error-100: #f4bab8;
  --color-error-200: #ea9896;
  --color-error-300: #de7675;
  --color-error-400: #cf5156;
  --color-error-500: #BF2239; /* error */
  --color-error-600: #951c31;
  --color-error-700: #6c1626;
  --color-error-800: #45101a;
  --color-error-900: #23060A;
  --color-error-950: #200002;
}

:root {
  --ui-primary: var(--color-orca-500);
  --ui-primary-50: var(--color-orca-50);
  --ui-primary-100: var(--color-orca-100);
  --ui-primary-200: var(--color-orca-200);
  --ui-primary-300: var(--color-orca-300);
  --ui-primary-400: var(--color-orca-400);
  --ui-primary-500: var(--color-orca-500);
  --ui-primary-600: var(--color-orca-600);
  --ui-primary-700: var(--color-orca-700);
  --ui-primary-800: var(--color-orca-800);
  --ui-primary-900: var(--color-orca-900);
  --ui-primary-950: var(--color-orca-950);

  --ui-secondary: var(--color-secondary-300);
  --ui-secondary-50: var(--color-secondary-50);
  --ui-secondary-100: var(--color-secondary-100);
  --ui-secondary-200: var(--color-secondary-200);
  --ui-secondary-300: var(--color-secondary-300);
  --ui-secondary-400: var(--color-secondary-400);
  --ui-secondary-500: var(--color-secondary-500);
  --ui-secondary-600: var(--color-secondary-600);
  --ui-secondary-700: var(--color-secondary-700);
  --ui-secondary-800: var(--color-secondary-800);
  --ui-secondary-900: var(--color-secondary-900);
  --ui-secondary-950: var(--color-secondary-950);
  
  --ui-tertiary: var(--color-tertiary-500);
  --ui-tertiary-50: var(--color-tertiary-50);
  --ui-tertiary-100: var(--color-tertiary-100);
  --ui-tertiary-200: var(--color-tertiary-200);
  --ui-tertiary-300: var(--color-tertiary-300);
  --ui-tertiary-400: var(--color-tertiary-400);
  --ui-tertiary-500: var(--color-tertiary-500);
  --ui-tertiary-600: var(--color-tertiary-600);
  --ui-tertiary-700: var(--color-tertiary-700);
  --ui-tertiary-800: var(--color-tertiary-800);
  --ui-tertiary-900: var(--color-tertiary-900);
  --ui-tertiary-950: var(--color-tertiary-950);

  --ui-text: var(--color-text-800);
  --ui-text-50: var(--color-text-50);
  --ui-text-100: var(--color-text-100);
  --ui-text-200: var(--color-text-200);
  --ui-text-300: var(--color-text-300);
  --ui-text-400: var(--color-text-400);
  --ui-text-500: var(--color-text-500);
  --ui-text-600: var(--color-text-600);
  --ui-text-700: var(--color-text-700);
  --ui-text-800: var(--color-text-800);
  --ui-text-900: var(--color-text-900);
  --ui-text-950: var(--color-text-950);

  --ui-success: var(--color-success-500);
  --ui-success-50: var(--color-success-50);
  --ui-success-100: var(--color-success-100);
  --ui-success-200: var(--color-success-200);
  --ui-success-300: var(--color-success-300);
  --ui-success-400: var(--color-success-400);
  --ui-success-500: var(--color-success-500);
  --ui-success-600: var(--color-success-600);
  --ui-success-700: var(--color-success-700);
  --ui-success-800: var(--color-success-800);
  --ui-success-900: var(--color-success-900);
  --ui-success-950: var(--color-success-950);

  --ui-warn: var(--color-warn-500);
  --ui-warn-50: var(--color-warn-50);
  --ui-warn-100: var(--color-warn-100);
  --ui-warn-200: var(--color-warn-200);
  --ui-warn-300: var(--color-warn-300);
  --ui-warn-400: var(--color-warn-400);
  --ui-warn-500: var(--color-warn-500);
  --ui-warn-600: var(--color-warn-600);
  --ui-warn-700: var(--color-warn-700);
  --ui-warn-800: var(--color-warn-800);
  --ui-warn-900: var(--color-warn-900);
  --ui-warn-950: var(--color-warn-950);

  --ui-error: var(--color-error-500);
  --ui-error-50: var(--color-error-50);
  --ui-error-100: var(--color-error-100);
  --ui-error-200: var(--color-error-200);
  --ui-error-300: var(--color-error-300);
  --ui-error-400: var(--color-error-400);
  --ui-error-500: var(--color-error-500);
  --ui-error-600: var(--color-error-600);
  --ui-error-700: var(--color-error-700);
  --ui-error-800: var(--color-error-800);
  --ui-error-900: var(--color-error-900);
  --ui-error-950: var(--color-error-950);

  --ui-neutral: var(--color-text-500);
  --ui-neutral-50: var(--color-text-50);
  --ui-neutral-100: var(--color-text-100);
  --ui-neutral-200: var(--color-text-200);
  --ui-neutral-300: var(--color-text-300);
  --ui-neutral-400: var(--color-text-400);
  --ui-neutral-500: var(--color-text-500);
  --ui-neutral-600: var(--color-text-600);
  --ui-neutral-700: var(--color-text-700);
  --ui-neutral-800: var(--color-text-800);
  --ui-neutral-900: var(--color-text-900);
  --ui-neutral-950: var(--color-text-950);

  --ui-text-dimmed: var(--ui-neutral-200);
  --ui-text-muted: var(--ui-neutral-300);
  --ui-text-toned: var(--ui-neutral-400);
  --ui-text-highlighted: var(--ui-neutral-700);
  --ui-text-inverted: var(--ui-neutral-50);

  --ui-bg: var(--ui-primary-50);
  --ui-bg-muted: var(--ui-neutral-100);
  --ui-bg-elevated: var(--ui-neutral-200);
  --ui-bg-accented: var(--ui-neutral-300);
  --ui-bg-inverted: var(--ui-neutral-900);

  --ui-border: var(--ui-primary-500);
  --ui-border-muted: var(--ui-neutral-300);
  --ui-border-accented: var(--ui-neutral-400);
  --ui-border-inverted: var(--ui-neutral-900);
}

.dark {
  --ui-primary: var(--color-orca-400);
  --ui-primary-50: var(--color-orca-950);
  --ui-primary-100: var(--color-orca-900);
  --ui-primary-200: var(--color-orca-800);
  --ui-primary-300: var(--color-orca-700);
  --ui-primary-400: var(--color-orca-600);
  --ui-primary-500: var(--color-orca-500);
  --ui-primary-600: var(--color-orca-400);
  --ui-primary-700: var(--color-orca-300);
  --ui-primary-800: var(--color-orca-200);
  --ui-primary-900: var(--color-orca-100);
  --ui-primary-950: var(--color-orca-50);
  
  --ui-secondary: var(--color-secondary-300);
  --ui-secondary-50: var(--color-secondary-950);
  --ui-secondary-100: var(--color-secondary-900);
  --ui-secondary-200: var(--color-secondary-800);
  --ui-secondary-300: var(--color-secondary-700);
  --ui-secondary-400: var(--color-secondary-600);
  --ui-secondary-500: var(--color-secondary-500);
  --ui-secondary-600: var(--color-secondary-400);
  --ui-secondary-700: var(--color-secondary-300);
  --ui-secondary-800: var(--color-secondary-200);
  --ui-secondary-900: var(--color-secondary-100);
  --ui-secondary-950: var(--color-secondary-50);
  
  --ui-tertiary: var(--color-tertiary-500);
  --ui-tertiary-50: var(--color-tertiary-950);
  --ui-tertiary-100: var(--color-tertiary-900);
  --ui-tertiary-200: var(--color-tertiary-800);
  --ui-tertiary-300: var(--color-tertiary-700);
  --ui-tertiary-400: var(--color-tertiary-600);
  --ui-tertiary-500: var(--color-tertiary-500);
  --ui-tertiary-600: var(--color-tertiary-400);
  --ui-tertiary-700: var(--color-tertiary-300);
  --ui-tertiary-800: var(--color-tertiary-200);
  --ui-tertiary-900: var(--color-tertiary-100);
  --ui-tertiary-950: var(--color-tertiary-50);

  --ui-text: var(--color-text-200);
  --ui-text-50: var(--color-text-950);
  --ui-text-100: var(--color-text-900);
  --ui-text-200: var(--color-text-800);
  --ui-text-300: var(--color-text-700);
  --ui-text-400: var(--color-text-600);
  --ui-text-500: var(--color-text-500);
  --ui-text-600: var(--color-text-400);
  --ui-text-700: var(--color-text-300);
  --ui-text-800: var(--color-text-200);
  --ui-text-900: var(--color-text-100);
  --ui-text-950: var(--color-text-50);

  --ui-success: var(--color-success-500);
  --ui-success-50: var(--color-success-950);
  --ui-success-100: var(--color-success-900);
  --ui-success-200: var(--color-success-800);
  --ui-success-300: var(--color-success-700);
  --ui-success-400: var(--color-success-600);
  --ui-success-500: var(--color-success-500);
  --ui-success-600: var(--color-success-400);
  --ui-success-700: var(--color-success-300);
  --ui-success-800: var(--color-success-200);
  --ui-success-900: var(--color-success-100);
  --ui-success-950: var(--color-success-50);

  --ui-warn: var(--color-warn-500);
  --ui-warn-50: var(--color-warn-950);
  --ui-warn-100: var(--color-warn-900);
  --ui-warn-200: var(--color-warn-800);
  --ui-warn-300: var(--color-warn-700);
  --ui-warn-400: var(--color-warn-600);
  --ui-warn-500: var(--color-warn-500);
  --ui-warn-600: var(--color-warn-400);
  --ui-warn-700: var(--color-warn-300);
  --ui-warn-800: var(--color-warn-200);
  --ui-warn-900: var(--color-warn-100);
  --ui-warn-950: var(--color-warn-50);

  --ui-error: var(--color-error-500);
  --ui-error-50: var(--color-error-950);
  --ui-error-100: var(--color-error-900);
  --ui-error-200: var(--color-error-800);
  --ui-error-300: var(--color-error-700);
  --ui-error-400: var(--color-error-600);
  --ui-error-500: var(--color-error-500);
  --ui-error-600: var(--color-error-400);
  --ui-error-700: var(--color-error-300);
  --ui-error-800: var(--color-error-200);
  --ui-error-900: var(--color-error-100);
  --ui-error-950: var(--color-error-50);

  --ui-neutral: var(--color-text-500);
  --ui-neutral-50: var(--color-text-950);
  --ui-neutral-100: var(--color-text-900);
  --ui-neutral-200: var(--color-text-800);
  --ui-neutral-300: var(--color-text-700);
  --ui-neutral-400: var(--color-text-600);
  --ui-neutral-500: var(--color-text-500);
  --ui-neutral-600: var(--color-text-400);
  --ui-neutral-700: var(--color-text-300);
  --ui-neutral-800: var(--color-text-200);
  --ui-neutral-900: var(--color-text-100);
  --ui-neutral-950: var(--color-text-50);

  --ui-text-dimmed: var(--ui-neutral-200);
  --ui-text-muted: var(--ui-neutral-300);
  --ui-text-toned: var(--ui-neutral-400);
  --ui-text-highlighted: var(--ui-neutral-700);
  --ui-text-inverted: var(--ui-neutral-50);

  --ui-bg: var(--ui-primary-50);
  --ui-bg-muted: var(--ui-neutral-100);
  --ui-bg-elevated: var(--ui-neutral-200);
  --ui-bg-accented: var(--ui-neutral-300);
  --ui-bg-inverted: var(--ui-neutral-900);

  --ui-border: var(--ui-primary-500);
  --ui-border-muted: var(--ui-neutral-300);
  --ui-border-accented: var(--ui-neutral-400);
  --ui-border-inverted: var(--ui-neutral-900);
}
